<ul class="d-flex flex-row m-0 p-0 rounded-bottom shadow">
  <li class="nested-list">
    <ul class="d-flex flex-row m-0 p-0">
      @for (link of linkList; track $index) {
        <ng-container *ngTemplateOutlet="listItem; context: { $implicit: link }"></ng-container>
      }
    </ul>
  </li>

  <li class="nested-list">
    <ul class="d-flex flex-row m-0 p-0">
      @for (link of dataBindingLinkList; track $index) {
        <ng-container *ngTemplateOutlet="listItem; context: { $implicit: link }"></ng-container>
      }
    </ul>
  </li>
</ul>

<ng-template #listItem let-link>
  <li class="p-3">
    <a [routerLink]="link.url">{{link.label}}</a>
  </li>
</ng-template>
